@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply max-w-7xl mx-auto sm:px-6 lg:px-8;
}

.list-header {
    @apply mb-6 flex flex-row items-center sm:flex-row-reverse justify-between flex-wrap;
}
.list-header > .button {
    @apply w-full sm:w-2/5 lg:w-3/5 mb-2 sm:mb-0 grid justify-items-end;
}
.list-header > .search {
    @apply w-full sm:w-3/5 lg:w-2/5;
}

.table-wrapper {
    @apply bg-white overflow-x-auto shadow-sm rounded;
}
.table {
    @apply min-w-max w-full table-auto;
}
.table thead tr {
    @apply bg-gray-200 text-gray-600 uppercase text-sm leading-normal;
}
.table th.center {
    @apply py-3 px-6 text-center;
}
.table th.left {
    @apply py-3 px-6 text-left;
}
.table tbody {
    @apply text-gray-600 text-sm font-light;
}
.table tbody tr {
    @apply border-b border-gray-200 hover:bg-gray-50;
}
.table td {
    @apply py-3 px-6;
}