@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply max-w-7xl mx-auto sm:px-6 lg:px-8;
}

.border-t-1 { border-top-width: 1px; }
.border-b-1 { border-bottom-width: 1px; }
.border-l-1 { border-left-width: 1px; }
.border-r-1 { border-right-width: 1px; }

.list-header {
    @apply mb-6 flex flex-row items-center sm:flex-row-reverse justify-between flex-wrap;
}
.list-header > .button {
    @apply w-full sm:w-2/5 lg:w-3/5 mb-2 sm:mb-0 grid justify-items-end;
}
.list-header > .search {
    @apply w-full sm:w-3/5 lg:w-2/5;
}

.table-wrapper {
    @apply bg-white overflow-x-auto shadow-sm rounded;
}
.table {
    @apply min-w-max w-full table-auto;
}
.table thead tr {
    @apply bg-gray-200 text-gray-600 uppercase text-sm leading-normal;
}
.table th {
    @apply py-1.5 px-6;
}
.table th.center {
    @apply text-center;
}
.table th.left {
    @apply text-left;
}
.table tbody {
    @apply text-gray-600 text-sm font-light;
}
.table tbody tr {
    @apply border-b border-gray-200 hover:bg-gray-50;
}
.table td {
    @apply py-1.5 px-6;
}
.table td[colspan] {
    @apply text-center py-8 font-semibold;
}

.sb-form {
    @apply grid sm:grid-cols-3 md:grid-cols-4 sm:divide-x bg-white rounded shadow;
}
.sb-sidebar {
    @apply py-4;
}
.sb-container {
    @apply sm:col-span-2 md:col-span-3;
}
.sb-header {
    @apply p-4 border-b-1 border-gray-200;
}
.sb-header > h2 {
    @apply text-2xl font-bold text-gray-800;
}
.sb-header > h5 {
    @apply text-sm text-gray-700;
}
.sb-body {
    @apply p-4;
}
.sb-body > .grid-2 {
    @apply grid md:grid-cols-2 gap-4 mb-4;
}
.sb-body > .grid-3 {
    @apply grid md:grid-cols-3 gap-4 mb-4;
}
.sb-body > .grid-4 {
    @apply grid md:grid-cols-4 gap-4 mb-4;
}
.sb-footer {
    @apply py-2 px-4 flex justify-between border-t-1 border-gray-200;
}